<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.example.org/refdsl"
			class = "pt.isep.enorm.refdsl.refDsl.RefDslPackage"
			genModel = "model/generated/RefDsl.genmodel" />
	</extension>
</plugin>
