<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ref -->
      <package
            uri="http://www.example.org/sirius"
            class="pt.isep.enorm.m1a4.sirius.RefPackage"
            genModel="model/ref.genmodel"/>
   </extension>

   <extension point="org.eclipse.sirius.componentization">
      <viewpoint path="description/ref.odesign"/>
   </extension>

</plugin>
